@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
body {
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 16px;
}
p.bold {
  font-weight: bold;
  font-size: 18px;
}

.bold_nom_menu {
  padding: 0px;
}

header img, footer img, h2, h3 {
  font-family: "Shrikhand", "cursive";
}

p, li, span {
  font-family: "Roboto", "sans-serif";
}

.btn {
  border-radius: 25px;
  border: none;
  padding: 15px;
  color: white;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  position: relative;
  z-index: 1;
  transition: 250ms;
  box-shadow: 1px 2px 5px 2px rgba(0, 2, 0, 0.2392156863);
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 1px 2px 5px 3px rgba(0, 2, 0, 0.2392156863);
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #a16be0, #ff93e1);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.favorite {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 7px 20px 10px 15px;
  font-size: 30px;
  position: relative;
  z-index: 1;
}
.favorite:hover {
  cursor: pointer;
}
.favorite .fas {
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease;
  position: absolute;
  font-size: 31px;
}
.favorite .fas:active {
  opacity: 1;
  transform: scale(1.2);
}

@media screen and (min-width: 1024px) {
  .favorite {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 7px 20px 10px 15px;
    font-size: 30px;
    position: relative;
    z-index: 1;
  }
  .favorite:hover {
    cursor: pointer;
  }
  .favorite .fas {
    color: transparent;
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease;
    position: absolute;
    font-size: 31px;
  }
  .favorite .fas:hover {
    opacity: 1;
    transform: scale(1.05);
  }
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 0px 20px 20px 20px;
}
footer .footer_logo img {
  padding: 15px 0px;
  width: 30%;
  filter: invert(100%);
}
footer .nous_contacter p {
  margin: 0px;
}
footer .nous_contacter p i {
  width: 15px;
  padding-right: 5px;
}
footer .nous_contacter a {
  text-decoration: none;
  color: white;
}

header {
  padding: 8px 0px;
  border-bottom: none;
  box-shadow: 0px 3px 3px 1px rgba(64, 60, 60, 0.3607843137);
}
header div {
  display: flex;
  justify-content: center;
}
header div img {
  width: 50%;
}

.loader-container {
  position: fixed;
  background-color: #f3f3f3;
  height: 100vh;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 1s ease;
  opacity: 0.9;
  animation: end-loader 400ms 3s forwards;
}

.point {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9356DC;
  margin: 0px 15px;
  opacity: 1;
  animation: loader infinite 0.5s alternate;
}

.point2 {
  animation-delay: 100ms;
  background-color: #FF79DA;
}

.point3 {
  animation-delay: 150ms;
  background-color: #99E2D0;
}

@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
@keyframes end-loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.ville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.1803921569);
}

.explorer {
  text-align: center;
  background-color: #F3F3F3;
  height: 230px;
}
.explorer .bold {
  padding-top: 30px;
  margin: 0px;
  font-size: 24px;
}

nav {
  margin: 35px 20px;
  counter-reset: numbers;
}
nav .bold {
  margin: 0px 0px 25px 0px;
}
nav ol {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  padding: 0px;
}
nav li {
  position: relative;
  background-color: #f6f6f6;
  padding: 18px 25px;
  border-radius: 15px;
  box-shadow: 1px 2px 5px 2px rgba(0, 2, 0, 0.2392156863);
}
nav li::before {
  content: counter(numbers);
  counter-increment: numbers;
  color: white;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}
nav li:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: #f7e4f2;
}
nav li:hover i {
  color: #9356DC;
}
nav li i {
  padding-right: 15px;
  color: grey;
}

section {
  background-color: #f6f6f6;
}
section .bold {
  padding-top: 30px;
  margin: 0px 20px 15px 20px;
}
section .cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0px 20px;
  padding-bottom: 40px;
}
section .card {
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 2px 5px 2px rgba(0, 2, 0, 0.2392156863);
}
section .card:nth-child(4) {
  margin-bottom: 0px;
}
section .card_new {
  position: relative;
}
section span {
  border-radius: 2px;
  background-color: #99e2d0;
  padding: 8px;
  font-size: 13px;
  position: absolute;
  right: 10px;
  top: 10px;
}
section img {
  display: block;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  object-position: 100% 60%;
}
section .card_description {
  display: flex;
}
section .card_description > div:nth-child(1) {
  width: 80%;
  padding: 7px 10px 10px 15px;
}
section .card_description > div:nth-child(1) .bold {
  padding: 0px;
  margin: 0px;
}
section .card_description > div:nth-child(1) p {
  margin: 0px;
}

@media screen and (min-width: 640px) {
  header {
    padding: 15px 0px;
  }
  header div img {
    width: 60%;
  }
  .ville i {
    font-size: 20px;
  }
  .ville p {
    font-size: 20px;
  }
  nav ol li {
    text-align: center;
  }
  section .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  section .cards .card {
    width: 47%;
  }
  footer .footer_logo {
    text-align: center;
    margin: 0px;
  }
  footer .nous_contacter {
    column-count: 2;
    gap: 150px;
  }
}
@media screen and (min-width: 1024px) {
  nav ol {
    flex-direction: row;
    justify-content: space-evenly;
  }
  nav ol li {
    width: 30%;
    padding: 18px 20px;
  }
  footer > .nous_contacter {
    display: flex;
    justify-content: center;
    column-count: 4;
    gap: 100px;
  }
}

/*# sourceMappingURL=index.css.map */
