@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
body {
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 14px;
}
p.bold {
  font-weight: bold;
  font-size: 18px;
}

.bold_nom_menu {
  padding: 0px;
}

header img, footer img, h2, h3 {
  font-family: "Shrikhand", "cursive";
}

p, li, span {
  font-family: "Roboto", "sans-serif";
}

.btn {
  border-radius: 25px;
  border: none;
  padding: 15px 40px;
  color: white;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  position: relative;
  z-index: 1;
  transition: 250ms;
  box-shadow: 1px 2px 5px 2px rgba(0, 2, 0, 0.2392156863);
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 1px 2px 5px 3px rgba(0, 2, 0, 0.2392156863);
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #a16be0, #ff93e1);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.favorite {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 7px 20px 10px 15px;
  font-size: 30px;
  position: relative;
  z-index: 1;
}
.favorite .fas {
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease;
  position: absolute;
  font-size: 31px;
}
.favorite .fas:active {
  opacity: 1;
  transform: scale(1.2);
}

@media screen and (min-width: 870px) {
  .favorite {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 7px 20px 10px 15px;
    font-size: 30px;
    position: relative;
    z-index: 1;
  }
  .favorite .fas {
    color: transparent;
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease;
    position: absolute;
    font-size: 31px;
  }
  .favorite .fas:hover {
    opacity: 1;
    transform: scale(1.05);
  }
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 0px 20px 20px 20px;
}
footer .footer_logo img {
  padding: 15px 0px;
  width: 30%;
  filter: invert(100%);
}
footer .nous_contacter p {
  margin: 0px;
}
footer .nous_contacter p i {
  width: 15px;
  padding-right: 5px;
}
footer .nous_contacter a {
  text-decoration: none;
  color: white;
}

header .logo {
  display: flex;
  align-items: center;
  padding: 15px 0px;
  border-bottom: solid 1px grey;
}
header .logo a {
  width: 30%;
  padding-left: 20px;
}
header .logo img {
  width: 35%;
}
header .presentation img {
  display: block;
  width: 100%;
  max-height: 233.33px;
  object-fit: cover;
  object-position: center;
}

section {
  background-color: #F3F3F3;
}
section .background_section {
  display: flex;
  flex-direction: column;
  border: solid 1px #F3F3F3;
  border-radius: 20px 20px 0px 0px;
  background-color: #F3F3F3;
  padding: 0px 10px;
  position: relative;
  bottom: 20px;
}
section .background_section .menu_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .background_section .menu_title i {
  text-align: center;
  line-height: 3;
}
section .background_section .background_menu_button {
  text-align: center;
  padding-bottom: 40px;
}

.background_entrees p, .background_plats p, .background_desserts p {
  margin: 0px;
}
.background_entrees p.border_title, .background_plats p.border_title, .background_desserts p.border_title {
  border-bottom: solid 3px #99E2D0;
  width: 10%;
}
.background_entrees .background_cards_entrees, .background_entrees .background_cards_plats, .background_entrees .background_cards_desserts, .background_plats .background_cards_entrees, .background_plats .background_cards_plats, .background_plats .background_cards_desserts, .background_desserts .background_cards_entrees, .background_desserts .background_cards_plats, .background_desserts .background_cards_desserts {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 40px;
  gap: 20px;
}
.background_entrees .background_cards_entrees .background_card, .background_entrees .background_cards_plats .background_card, .background_entrees .background_cards_desserts .background_card, .background_plats .background_cards_entrees .background_card, .background_plats .background_cards_plats .background_card, .background_plats .background_cards_desserts .background_card, .background_desserts .background_cards_entrees .background_card, .background_desserts .background_cards_plats .background_card, .background_desserts .background_cards_desserts .background_card {
  display: flex;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 2px rgba(0, 2, 0, 0.2392156863);
}
.background_entrees .background_cards_entrees .background_card .card, .background_entrees .background_cards_plats .background_card .card, .background_entrees .background_cards_desserts .background_card .card, .background_plats .background_cards_entrees .background_card .card, .background_plats .background_cards_plats .background_card .card, .background_plats .background_cards_desserts .background_card .card, .background_desserts .background_cards_entrees .background_card .card, .background_desserts .background_cards_plats .background_card .card, .background_desserts .background_cards_desserts .background_card .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px 10px 10px;
}
.background_entrees .background_cards_entrees .background_card .card p, .background_entrees .background_cards_plats .background_card .card p, .background_entrees .background_cards_desserts .background_card .card p, .background_plats .background_cards_entrees .background_card .card p, .background_plats .background_cards_plats .background_card .card p, .background_plats .background_cards_desserts .background_card .card p, .background_desserts .background_cards_entrees .background_card .card p, .background_desserts .background_cards_plats .background_card .card p, .background_desserts .background_cards_desserts .background_card .card p {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

@media screen and (min-width: 640px) {
  section .background_section .menu_title {
    justify-content: center;
  }
  section .background_section .menu_title h2 {
    width: 50%;
    text-align: center;
  }
  section .background_section .background_entrees > div, section .background_section .background_plats > div, section .background_section .background_desserts > div {
    display: flex;
    justify-content: center;
  }
  section .background_section .background_entrees > div .border_title, section .background_section .background_plats > div .border_title, section .background_section .background_desserts > div .border_title {
    padding: 0px 10px;
    text-align: center;
  }
  footer .footer_logo {
    text-align: center;
    margin: 0px;
  }
  footer .nous_contacter {
    column-count: 2;
    gap: 150px;
  }
}
@media screen and (min-width: 1024px) {
  section .background_section .menu_title {
    justify-content: center;
  }
  section .background_section .menu_title h2 {
    width: 25%;
  }
  section .background_section .carte_menu {
    display: flex;
    justify-content: space-around;
  }
  section .background_section .carte_menu .background_entrees, section .background_section .carte_menu .background_plats, section .background_section .carte_menu .background_desserts {
    width: 30%;
  }
  footer > .nous_contacter {
    display: flex;
    justify-content: center;
    column-count: 4;
    gap: 100px;
  }
}

/*# sourceMappingURL=menu.css.map */
