@import './Utils/variables';
@import './Utils/mixins';
@import "./Utils/animations";
@import "./Base/base_menu";
@import "./Base/polices";
@import "./Components/button_menu";
@import "./Components/favorite_button";
@import "./Layout/footer";
@import "./Layout/header-menu";
@import "./Layout/section-menu";

// TABLETTE
@media screen and (min-width: 640px) {

    section{

        .background_section{

            .restaurant_name{
                justify-content: center;

                & h2{
                    width: 50%;
                    text-align: center;
                }
            }

            .restaurant_menu{

                >div{
                    display: flex;
                    justify-content: center;
        
                    .border_title{
                        padding: 0px 10px;
                        text-align: center;
                    }
                }
            }
        }
    }


    footer{
        
        .footer_logo{
            text-align: center;
            margin: 0px;
        }

        .nous_contacter{
            column-count: 2;
            gap: 150px;
        }
    }
}



// DESKTOP
@media screen and (min-width: 1024px) {

    section{

        .background_section{

            .restaurant_name{
                justify-content: center;

                & h2{
                    width: 25%;
                }

                .favorite {
                    width: 100%;
                }
            }

            .restaurant_carte{
                display: flex;
                justify-content: space-around;

                .restaurant_menu{
                    width: 30%;
                }
            }
        }
    }

    footer{

        >.nous_contacter{
            display: flex;
            justify-content: center;
            column-count: 4;
            gap: 100px;
        }
    }
}