.loader-container {
    position: fixed;
    background-color: $lightgrey;
    height: 100vh;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 1s ease;
    opacity: 0.9;
    animation: end-loader 400ms 3s forwards;
}

.point {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $purple;
    background: conic-gradient($purple, $pink, $mint);
    animation: spin 1s linear infinite;

    &::before {
        content: "";
        background-color: $lightgrey;
        position: absolute;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


@keyframes end-loader {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}