nav {
    margin: 35px 20px;
    counter-reset: numbers;

    .bold {
        margin: 0px 0px 25px 0px;
    }

    & ol {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style-type: none;
        padding: 0px;
    }

    & li {
        position: relative;
        background-color: $lightgrey2;
        padding: 18px 25px;
        border-radius: 15px;
        @include btn-shadow;

        &::before {
            content: counter(numbers);
            counter-increment: numbers;
            color: white;
            background-color: $purple;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            left: -10px;
        }

        &:hover {
            @include little-zoom;
            background-color: $lightpink;

            & i {
                color: $purple;
            }
        }

        & i {
            padding-right: 15px;
            color: $grey;
        }
    }
}