section {
    background-color: #F3F3F3;
    .background_section{
        display: flex;
        flex-direction: column;
        border: solid 1px #F3F3F3;
        border-radius: 20px 20px 0px 0px;
        background-color: #F3F3F3;
        padding: 0px 10px;
        position: relative;
        bottom: 20px;

        & .menu_title{
            display: flex;
            align-items: center;
            justify-content: space-between;

            & i{
                text-align: center;
                line-height: 3;
            }
        }

        .background_menu_button{
            text-align: center;
            padding-bottom: 40px;
        }
    }
}

.background_entrees{

    & p{
        margin: 0px;

        & .border_title{
            border-bottom: solid 3px $mint;
            width: 10%;
        }
    }

    .background_cards_entrees{
        display: flex;
        flex-direction: column;
        padding: 20px 0px 40px;
        gap: 20px;

        .background_card{
            display: flex;
            border-radius: 20px;
            box-shadow: 1px 1px 5px 2px #0002003d;

            .card{
                display: flex;
                width: 100%;
                overflow: hidden;
                border-radius: 20px;
                cursor: pointer;

                .card__description{
                    padding: 10px;
                    white-space: nowrap;
                    overflow: hidden;

                    & p{
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                .card__price{
                    display: flex;
                    align-items: flex-end;
                    font-weight: bold;
                    padding: 10px 20px 10px 10px;
                    margin-left: auto;
                }

                .card__check{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0px 20px 20px 0px;
                    background-color: #99e2d0;
                    margin-right: -70px;
                    width: 70px;
                    transition: margin-right 0.5s;

                    & i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #FFF;
                        color: $mint;
                        border-radius: 50%;
                        padding: 10px;
                    }
                }

                &:active .card__check{
                    margin-right: 0;


                    i {
                        animation: spin 0.5s;
                    }
                }

                @media screen and (min-width: 1024px) {
                    &:hover .card__check{
                        margin-right: 0;

                        i {
                            animation: spin 0.5s;
                        }
                    }
                }
            }
        }
    }
}

.background_plats {
    
    & p{
        margin: 0px;

        & .border_title{
            border-bottom: solid 3px $mint;
            width: 10%;
        }
    }

    .background_cards_plats{
        display: flex;
        flex-direction: column;
        padding: 20px 0px 40px;
        gap: 20px;

        .background_card{
            display: flex;
            border-radius: 20px;
            box-shadow: 1px 1px 5px 2px #0002003d;

            .card{
                display: flex;
                width: 100%;
                overflow: hidden;
                border-radius: 20px;
                cursor: pointer;

                .card__description{
                    padding: 10px;
                    white-space: nowrap;
                    overflow: hidden;

                    & p{
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                .card__price{
                    display: flex;
                    align-items: flex-end;
                    font-weight: bold;
                    padding: 10px 20px 10px 10px;
                    margin-left: auto;
                }

                .card__check{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0px 20px 20px 0px;
                    background-color: #99e2d0;
                    margin-right: -70px;
                    width: 70px;
                    transition: margin-right 0.5s;

                    & i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #FFF;
                        color: $mint;
                        border-radius: 50%;
                        padding: 10px;
                    }
                }

                &:active .card__check{
                    margin-right: 0;


                    i {
                        animation: spin 0.5s;
                    }
                }

                @media screen and (min-width: 1024px) {
                    &:hover .card__check{
                        margin-right: 0;

                        i {
                            animation: spin 0.5s;
                        }
                    }
                }
            }
        }
    }
}

.background_desserts{

    & p{
        margin: 0px;

        & .border_title{
            border-bottom: solid 3px $mint;
            width: 10%;
        }
    }

    .background_cards_desserts{
        display: flex;
        flex-direction: column;
        padding: 20px 0px 40px;
        gap: 20px;

        .background_card{
            display: flex;
            border-radius: 20px;
            box-shadow: 1px 1px 5px 2px #0002003d;

            .card{
                display: flex;
                width: 100%;
                overflow: hidden;
                border-radius: 20px;
                cursor: pointer;

                .card__description{
                    padding: 10px;
                    white-space: nowrap;
                    overflow: hidden;

                    & p{
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                .card__price{
                    display: flex;
                    align-items: flex-end;
                    font-weight: bold;
                    padding: 10px 20px 10px 10px;
                    margin-left: auto;
                }

                .card__check{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0px 20px 20px 0px;
                    background-color: #99e2d0;
                    margin-right: -70px;
                    width: 70px;
                    transition: margin-right 0.5s;

                    & i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #FFF;
                        color: $mint;
                        border-radius: 50%;
                        padding: 10px;
                    }
                }

                &:active .card__check{
                    margin-right: 0;


                    i {
                        animation: spin 0.5s;
                    }
                }

                @media screen and (min-width: 1024px) {
                    &:hover .card__check{
                        margin-right: 0;

                        i {
                            animation: spin 0.5s;
                        }
                    }
                }
            }
        }
    }
}