section {
    background-color: #F3F3F3;
    .background_section{
        display: flex;
        flex-direction: column;
        border: solid 1px #F3F3F3;
        border-radius: 20px 20px 0px 0px;
        background-color: #F3F3F3;
        padding: 0px 10px;
        position: relative;
        bottom: 20px;

        & .menu_title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0px 20px 0px 0px;
        }

        .background_menu_button{
            text-align: center;
            padding-bottom: 40px;
        }
    }
}

.background_entrees, .background_plats, .background_desserts{

    p{
        margin: 0px;

        &.border_title{
            border-bottom: solid 3px $mint;
            width: 10%;
        }
    }

    .background_cards_entrees, .background_cards_plats, .background_cards_desserts{
        display: flex;
        flex-direction: column;
        padding: 20px 0px 40px;
        gap: 20px;

        .background_card{
            display: flex;
            border-radius: 20px;
            box-shadow: 1px 1px 5px 2px #0002003d;

            .card{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 10px 20px 10px 10px;

                p{
                    display: flex;
                    justify-content: space-between;
                    margin: 0px;
                }
            }
        }
    }
}
