.btn{
    border-radius: 25px;
    border: none;
    padding: 15px;
    width: fit-content;
    color: white;
    background-image: linear-gradient(to top, $purple, $pink);
    position: relative;
    z-index: 1;
    transition: 250ms;

    @include btn-shadow;

    &:hover{
        @include little-zoom;
        box-shadow: 1px 2px 5px 3px #0002003d;
        &::after{
            opacity: 1;
        }
    }

    &::after{
        content: "";
        border-radius: 25px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top, lighten($purple, 5), lighten($pink, 5));
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}