.favorite{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 7px 20px 10px 15px;
    font-size: 30px;
    position: relative;
    z-index: 1;

    &:hover{
        cursor: pointer;
    }

    .fas{
        color: transparent;
        background-image: linear-gradient(to top, $purple, $pink);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms ease;
        position: absolute;
        font-size: 31px;
    
        &:active{
            opacity: 1;
            transform: scale(1.20);
        }
    }
}


// TABLETTE

@media screen and (min-width: 640px) {
    .restaurant_name h1 {
        width: 90%;
        text-align: center;
    }

    .favorite {
        justify-content: center;
        padding: 0px;
    }
}
// DESKTOP
@media screen and (min-width: 1024px) {

    .favorite{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        position: relative;
        z-index: 1;

        &:hover{
            cursor: pointer;
        }

        .fas{
            color: transparent;
            background-image: linear-gradient(to top, $purple, $pink);
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
            transition: all 200ms ease;
            position: absolute;
            font-size: 31px;
        
            &:hover{
                opacity: 1;
                transform: scale(1.05);
            }
        }
    }
}