body{
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

p{
    font-size: 14px;
}
.bold{
    font-weight: bold;
}
.h2-size, h2{
    font-size: 18px;
}
address a {
    font-family: "Roboto", "sans-serif";
    font-style: normal;
    font-size: 14px;
}